<h1>Consumer Currencies#index</h1>
<h1>Forex Exchange Rates against USD</h1>
<div>
<table>
  <tr>
    <th>Fetched at</th>
    <th>PLN/USD</th>
    <th>EUR/USD</th>
  </tr>
  <% @currencies.each do |c| %>
  <tr>
    <td><%= c.created_at%></td>
    <td><%= c.rates['PLN'] %></td>
    <td><%= c.rates['EUR'] %></td>
  </tr>
  <% end %>
</table>
</div>
